body {
  font-family: "Days One", sans-serif;
  background-color: #fff;
}

h1 {
  font-size: clamp(30px, 5vw, 60px);
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  line-height: 41px;
  font-weight: 400;
  color: #191b1e;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}

h4 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.btn1 {
  display: inline-block;
  padding: 20px 25px;
  background-color: #5f67ff;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}
.btn1:hover {
  background-color: #8c92ff;
  color: #191b1e;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  transform: translateY(-4px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

html {
  overflow-x: hidden;
}

header {
  position: relative;
  background-image: url(assets/images/freepik__candid-image-photography-natural-textures-highly-r__42760.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  padding-top: 0;
  z-index: 1;
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}
header .menu-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
header .menu-container .logo img {
  width: 250px;
  height: auto;
}
header .menu-container .menu ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .menu-container .menu ul li a {
  background-color: rgba(255, 255, 255, 0.082);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  border-radius: 8px;
  display: inline-block;
  color: #fff;
  padding: 10px;
  transition: all 0.3s ease;
}
header .menu-container .menu ul li a:hover {
  color: #5f67ff;
  background-color: #191b1e;
  transform: translateY(-4px);
}
header .menu-container .sidebar {
  background-color: rgba(0, 0, 0, 0.219);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 22px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  padding: 60px;
  width: 80vw;
  min-height: 70vh;
  position: absolute;
  top: 100px;
  transform: translateX(-100%) translateY(-100%) scale(0.5);
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
header .menu-container .sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
header .menu-container .sidebar ul li a {
  display: inline-block;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  color: #191b1e;
  font-size: 20px;
  transition: all 0.3s ease;
}
header .menu-container .sidebar ul li a:hover {
  background-color: #5f67ff;
  color: #fff;
  transform: scale(0.95);
  box-shadow: 0 5 10px rgba(0, 0, 0, 0.3);
}
header .menu-container .sidebar ul .close a {
  display: inline-block;
  background-color: #5f67ff;
  border: 1px solid transparent;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
header .menu-container .sidebar ul .close a:hover {
  border-color: rgba(255, 255, 255, 0.1764705882);
  transform: scale(0.95);
}
header .menu-container .open {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  transform: translateX(-50%) translateY(0) scale(1);
}
header .menu-container .hamburger {
  display: none;
}
header .menu-container .hamburger svg {
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
header .menu-container .hamburger svg path {
  fill: #fff;
}
header .menu-container .hamburger svg:hover path {
  fill: #5f67ff;
}
header .hero-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-top: 150px;
}
header .hero-content-container .left-content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .hero-content-container .left-content-area p {
  color: rgba(255, 255, 255, 0.7333333333);
}
header .hero-content-container .left-content-area a {
  width: -moz-max-content;
  width: max-content;
}
header .hero-content-container .left-content-area .hero-contact-phone {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .hero-content-container .left-content-area .hero-contact-phone .hero-contact-info {
  display: flex;
  flex-direction: column;
  color: #fff;
}
header .hero-content-container .left-content-area .hero-contact-phone .hero-contact-info a {
  color: #fff;
  font-size: 24px;
  transition: all 0.3s ease;
  cursor: grabbing;
}
header .hero-content-container .left-content-area .hero-contact-phone .hero-contact-info a:hover {
  color: #5f67ff;
  transform: scale(0.95);
}
header .hero-content-container .left-content-area .hero-contact-phone .hero-contact-info span:nth-child(2) {
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
}
header .hero-content-container .right-form-area {
  flex: 1;
  max-width: 35%;
}
header .hero-content-container .right-form-area .form-container {
  background-color: rgba(255, 255, 255, 0.0901960784);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  border-radius: 22px;
  padding: 40px;
}
header .hero-content-container .right-form-area .form-container h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
header .hero-content-container .right-form-area .form-container h2 span {
  color: #5f67ff;
}
header .hero-content-container .right-form-area .form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
header .hero-content-container .right-form-area .form-container form input,
header .hero-content-container .right-form-area .form-container form textarea {
  cursor: text;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  resize: none;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  outline: 1px solid transparent;
  transition: all 0.3s ease;
}
header .hero-content-container .right-form-area .form-container form input::-moz-placeholder, header .hero-content-container .right-form-area .form-container form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7333333333);
}
header .hero-content-container .right-form-area .form-container form input::placeholder,
header .hero-content-container .right-form-area .form-container form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7333333333);
}
header .hero-content-container .right-form-area .form-container form input:active, header .hero-content-container .right-form-area .form-container form input:focus, header .hero-content-container .right-form-area .form-container form input:hover,
header .hero-content-container .right-form-area .form-container form textarea:active,
header .hero-content-container .right-form-area .form-container form textarea:focus,
header .hero-content-container .right-form-area .form-container form textarea:hover {
  outline: 1px solid #fff;
  background-color: rgb(25, 27, 30);
}
header .hero-content-container .right-form-area .form-container form textarea:not(:-moz-placeholder-shown), header .hero-content-container .right-form-area .form-container form input:not(:-moz-placeholder-shown) {
  background-color: rgb(14, 14, 15);
}
header .hero-content-container .right-form-area .form-container form textarea:not(:placeholder-shown),
header .hero-content-container .right-form-area .form-container form input:not(:placeholder-shown) {
  background-color: rgb(14, 14, 15);
}
header .hero-content-container .right-form-area .form-container form textarea {
  height: 150px;
}
header .hero-content-container .right-form-area .form-container form input:-webkit-autofill,
header .hero-content-container .right-form-area .form-container form textarea:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgb(25, 27, 30) inset !important;
  -webkit-text-fill-color: white !important;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
header .hero-content-container .right-form-area .form-container form button {
  font-family: "Days One", sans-serif;
  outline: 1px solid transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
header .hero-content-container .right-form-area .form-container form button:active, header .hero-content-container .right-form-area .form-container form button:focus, header .hero-content-container .right-form-area .form-container form button:hover {
  outline: 1px solid #fff;
}

main .banner-header {
  background-color: #5f67ff;
  padding: 30px;
}
main .banner-header .main-container {
  display: flex;
  gap: 100px;
  align-items: center;
}
main .banner-header .main-container .card {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}
main .banner-header .main-container .card p {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 200;
}

main .about-section {
  margin: 100px 0;
}
main .about-section .main-container {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
main .about-section .main-container .about-left {
  flex: 1;
  max-width: 50%;
  text-align: left;
}
main .about-section .main-container .about-left .car {
  width: 100%;
}
main .about-section .main-container .about-left .trusted-card {
  cursor: pointer;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 20px;
  background-color: #5f67ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease;
}
main .about-section .main-container .about-left .trusted-card h4 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.65);
  transition: all 0.3s ease;
}
main .about-section .main-container .about-left .trusted-card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.85);
}
main .about-section .main-container .about-left .trusted-card:hover h4 {
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.85);
}
main .about-section .main-container .about-right {
  flex: 1;
}
main .about-section .main-container .about-right .subtitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  color: #191b1e;
}
main .about-section .main-container .about-right .title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .about-section .main-container .about-right .title p {
  color: #2b4448;
}
main .about-section .main-container .about-right .title a {
  width: -moz-max-content;
  width: max-content;
}
main .about-section .main-container .about-right .title img {
  margin-top: 30px;
  width: 100%;
}

@media (max-width: 1485px) {
  header .main-container .hero-content-container {
    flex-direction: column;
  }
  header .main-container .hero-content-container .left-content-area {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
  }
  header .main-container .hero-content-container .right-form-area {
    max-width: 100%;
  }
}
@media (max-width: 1120px) {
  .menu {
    display: none;
  }
  .menu-button {
    display: none;
  }
  header .main-container .menu-container .hamburger {
    display: block;
  }
}
@media (max-width: 700px) {
  header .main-container .menu-container .logo img {
    width: 150px;
  }
  .btn1 {
    padding: 15px 20px;
    font-size: 16px;
  }
  header .main-container .hero-content-container .left-content-area .hero-contact-phone .hero-contact-info a {
    font-size: 20px;
  }
  header .main-container .hero-content-container .right-form-area .form-container {
    padding: 30px;
  }
  header .main-container .hero-content-container .left-content-area {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */