body {
  font-family: "Days One", sans-serif;
  background-color: #fff;
}

h1 {
  font-size: clamp(30px, 5vw, 60px);
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(26px, 4vw, 36px);
  line-height: 41px;
  font-weight: 400;
  color: #191b1e;
}

h3 {
  font-size: clamp(22px, 3vw, 28px);
  line-height: 32px;
  font-weight: 400;
}

h4 {
  font-size: clamp(20px, 2.5vw, 26px);
  line-height: 32px;
  font-weight: 400;
}

h5 {
  font-size: clamp(16px, 1.8vw, 18px);
  line-height: 23px;
  font-weight: 400;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
  line-height: 26px;
}

.btn1 {
  display: inline-block;
  padding: 20px 25px;
  background-color: #5f67ff;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}
.btn1:hover {
  background-color: #8c92ff;
  color: #191b1e;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  transform: translateY(-4px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  display: grid;
  place-content: center;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  padding: 0 1rem;
}

header {
  position: relative;
  background-image: url(assets/images/freepik__candid-image-photography-natural-textures-highly-r__42760.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}
header .menu-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  width: 100%;
  padding: 40px 10% 25px 10%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in-out;
  z-index: 999999;
  border-bottom: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.0666666667);
}
header .menu-container.scrolled {
  background-color: #191b1e;
  border-bottom: 2px solid #fff;
}
header .menu-container .logo img {
  width: 250px;
  height: auto;
}
header .menu-container .menu ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .menu-container .menu ul li a {
  background-color: rgba(255, 255, 255, 0.082);
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  border-radius: 8px;
  display: inline-block;
  color: #fff;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}
header .menu-container .menu ul li a:hover {
  color: #5f67ff;
  background-color: #191b1e;
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
}
header .menu-container .sidebar {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 22px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  padding: 60px;
  width: 80vw;
  min-height: 70vh;
  position: fixed;
  top: 100px;
  transform: translateX(-100%) translateY(-100%) scale(0.5);
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 99999;
}
header .menu-container .sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
header .menu-container .sidebar ul li a {
  display: inline-block;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  color: #191b1e;
  font-size: 20px;
  transition: all 0.3s ease;
}
header .menu-container .sidebar ul li a:hover {
  background-color: #5f67ff;
  color: #fff;
  transform: scale(0.95);
  box-shadow: 0 5 10px rgba(0, 0, 0, 0.3);
}
header .menu-container .sidebar ul .close a {
  display: inline-block;
  background-color: #5f67ff;
  border: 1px solid transparent;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
header .menu-container .sidebar ul .close a:hover {
  border-color: rgba(255, 255, 255, 0.1764705882);
  transform: scale(0.95);
}
header .menu-container .open {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  transform: translateX(-50%) translateY(0) scale(1);
}
header .menu-container .hamburger {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  background-color: #191b1e;
  display: none;
  align-items: center;
  position: fixed;
  right: 30px;
  transition: all 0.3s ease;
}
header .menu-container .hamburger:hover {
  transform: scale(0.9);
}
header .menu-container .hamburger svg {
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
header .menu-container .hamburger svg path {
  fill: #fff;
}
header .menu-container .hamburger svg:hover path {
  fill: #5f67ff;
}
header .hero-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-top: 150px;
}
header .hero-content-container .left-content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .hero-content-container .left-content-area p {
  color: rgba(255, 255, 255, 0.7333333333);
}
header .hero-content-container .left-content-area a {
  width: -moz-max-content;
  width: max-content;
}
header .hero-content-container .left-content-area .hero-contact-phone {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .hero-content-container .left-content-area .hero-contact-phone .hero-contact-info {
  display: flex;
  flex-direction: column;
  color: #fff;
}
header .hero-content-container .left-content-area .hero-contact-phone .hero-contact-info a {
  color: #fff;
  font-size: 24px;
  transition: all 0.3s ease;
  cursor: grabbing;
  animation: pulse 2s ease-in-out infinite;
}
header .hero-content-container .left-content-area .hero-contact-phone .hero-contact-info a:hover {
  color: #5f67ff;
  transform: scale(0.95);
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
    color: rgb(255, 70, 70);
  }
}
header .hero-content-container .left-content-area .hero-contact-phone .hero-contact-info span:nth-child(2) {
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
}
header .hero-content-container .right-form-area {
  flex: 1;
  max-width: 35%;
}
header .hero-content-container .right-form-area .form-container {
  background-color: rgba(255, 255, 255, 0.0901960784);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  border-radius: 22px;
  padding: 40px;
}
header .hero-content-container .right-form-area .form-container h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
header .hero-content-container .right-form-area .form-container h2 span {
  color: #5f67ff;
}
header .hero-content-container .right-form-area .form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
header .hero-content-container .right-form-area .form-container form input,
header .hero-content-container .right-form-area .form-container form textarea {
  cursor: text;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  resize: none;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  outline: 1px solid transparent;
  transition: all 0.3s ease;
}
header .hero-content-container .right-form-area .form-container form input::-moz-placeholder, header .hero-content-container .right-form-area .form-container form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7333333333);
}
header .hero-content-container .right-form-area .form-container form input::placeholder,
header .hero-content-container .right-form-area .form-container form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7333333333);
}
header .hero-content-container .right-form-area .form-container form input:active, header .hero-content-container .right-form-area .form-container form input:focus, header .hero-content-container .right-form-area .form-container form input:hover,
header .hero-content-container .right-form-area .form-container form textarea:active,
header .hero-content-container .right-form-area .form-container form textarea:focus,
header .hero-content-container .right-form-area .form-container form textarea:hover {
  outline: 1px solid #fff;
  background-color: rgb(25, 27, 30);
}
header .hero-content-container .right-form-area .form-container form textarea:not(:-moz-placeholder-shown), header .hero-content-container .right-form-area .form-container form input:not(:-moz-placeholder-shown) {
  background-color: rgb(14, 14, 15);
}
header .hero-content-container .right-form-area .form-container form textarea:not(:placeholder-shown),
header .hero-content-container .right-form-area .form-container form input:not(:placeholder-shown) {
  background-color: rgb(14, 14, 15);
}
header .hero-content-container .right-form-area .form-container form textarea {
  height: 150px;
}
header .hero-content-container .right-form-area .form-container form input:-webkit-autofill,
header .hero-content-container .right-form-area .form-container form textarea:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgb(25, 27, 30) inset !important;
  -webkit-text-fill-color: white !important;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
header .hero-content-container .right-form-area .form-container form button {
  font-family: "Days One", sans-serif;
  outline: 1px solid transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
header .hero-content-container .right-form-area .form-container form button:active, header .hero-content-container .right-form-area .form-container form button:focus, header .hero-content-container .right-form-area .form-container form button:hover {
  outline: 1px solid #fff;
}

main .banner-header {
  padding: 40px 1rem;
  width: 100%;
  background-color: #5f67ff;
}
main .banner-header .main-container {
  display: flex;
  gap: 100px;
  align-items: center;
}
main .banner-header .main-container .card {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}
main .banner-header .main-container .card p {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 200;
}

main .subtitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  color: #191b1e;
  transition: all 0.3s ease;
}
main .subtitle:hover {
  color: #5f67ff;
}
main .subtitle:hover img {
  animation-play-state: paused;
}
main .subtitle img {
  width: 50px;
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main .about-section {
  margin: 100px 0;
}
main .about-section .main-container {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
main .about-section .main-container .about-left {
  flex: 1;
  text-align: left;
}
main .about-section .main-container .about-left .car {
  width: 100%;
}
main .about-section .main-container .about-left .trusted-card {
  cursor: pointer;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 20px;
  background-color: #5f67ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease;
}
main .about-section .main-container .about-left .trusted-card h4 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.65);
  transition: all 0.3s ease;
}
main .about-section .main-container .about-left .trusted-card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.85);
}
main .about-section .main-container .about-left .trusted-card:hover h4 {
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.85);
}
main .about-section .main-container .about-right {
  flex: 1;
}
main .about-section .main-container .about-right .title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .about-section .main-container .about-right .title p {
  color: #2b4448;
}
main .about-section .main-container .about-right .title a {
  width: -moz-max-content;
  width: max-content;
}
main .about-section .main-container .about-right .title img {
  margin-top: 30px;
  width: 100%;
}

.services-section {
  margin-bottom: 100px;
}
.services-section .subtitle {
  justify-content: center;
}
.services-section .title {
  text-align: center;
}
.services-section .service-cards {
  z-index: -1;
  display: flex;
  margin: 50px 0;
  gap: 20px;
}
.services-section .service-cards .card {
  min-width: 350px;
  position: relative;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  border-radius: 12px;
  height: 65vh;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.55);
  transition: all 0.3s ease;
}
.services-section .service-cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.65);
}
.services-section .service-cards .card h5 {
  color: #5f67ff;
}
.services-section .service-cards .card p {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 10px;
}
.services-section .service-cards .card span {
  display: inline-block;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.082);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  width: -moz-max-content;
  width: max-content;
  font-size: 22px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.services-section .service-cards .card span:hover {
  background-color: #191b1e;
  transform: scale(0.95);
  color: #5f67ff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
}
.services-section .service-cards .card1 {
  background-image: url(assets/images/service-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.services-section .service-cards .card2 {
  background-image: url(assets/images/service-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.services-section .service-cards .card3 {
  background-image: url(assets/images/service-3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.services-section .services-button {
  text-align: center;
}

.case-study-section .case-study-row {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.case-study-section .case-study-row .info-box {
  background-color: #fff;
  border: 1px solid #191b1e;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: -100px;
  padding: 25px;
}
.case-study-section .case-study-row .info-box .badge {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.case-study-section .case-study-row .info-box .badge h5 {
  color: #5f67ff;
}
.case-study-section .case-study-row .info-box h3 {
  width: 80%;
  text-transform: uppercase;
}
.case-study-section .case-study-row .info-box p {
  width: 80%;
  margin-bottom: 10px;
}
.case-study-section .case-study-row .info-box ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.case-study-section .case-study-row .info-box ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.case-study-section .case-study-row .info-box ul li span {
  font-size: 16px;
  font-weight: 300;
  font-family: "DM Sans", sans-serif;
  color: #2b4448;
}
.case-study-section .case-study-row .info-box a.btn1 {
  width: -moz-max-content;
  width: max-content;
}
.case-study-section .case-study-row .photo-box {
  z-index: -1;
}
.case-study-section .row2 .info-box {
  margin-right: 0;
  margin-left: -100px;
}

@media (max-width: 1485px) {
  header .main-container .hero-content-container {
    flex-direction: column;
  }
  header .main-container .hero-content-container .left-content-area {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
  }
  header .main-container .hero-content-container .right-form-area {
    max-width: 100%;
  }
  header .main-container .hero-content-container .right-form-area .form-container {
    margin-bottom: 50px;
  }
}
@media (max-width: 1210px) {
  .menu {
    display: none;
  }
  .menu-button {
    display: none;
  }
  header .main-container .menu-container .hamburger {
    display: flex;
  }
  main .about-section .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .about-section .main-container .about-left {
    text-align: center;
  }
  main .about-section .main-container .about-left .car {
    width: 85%;
  }
  main .about-section .main-container .about-left .trusted-card {
    margin-top: 50px;
    padding: 15px;
  }
  main .about-section .main-container .about-right .subtitle {
    justify-content: center;
  }
  main .about-section .main-container .about-right .title {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .about-section .main-container .about-right .title img {
    width: 85%;
  }
  main .banner-header .main-container {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  main .banner-header .main-container .card {
    flex-direction: column;
  }
  .services-section .service-cards {
    flex-wrap: wrap;
  }
  .case-study-section .case-study-row {
    flex-direction: column;
  }
  .case-study-section .case-study-row .info-box {
    margin-right: 0;
    margin-bottom: -50px;
    max-width: 700px;
  }
  .case-study-section .case-study-row .photo-box img {
    width: 100%;
  }
  .case-study-section .row2 .info-box {
    margin-left: 0;
    margin-top: -50px;
    order: 1;
  }
  .case-study-section .row2 .photo-box {
    order: 2;
  }
  .case-study-section .row2 .photo-box img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  header .main-container .menu-container .logo img {
    width: 150px;
  }
  .btn1 {
    padding: 15px 20px;
    font-size: 16px;
  }
  header .main-container .hero-content-container .left-content-area .hero-contact-phone .hero-contact-info a {
    font-size: 20px;
  }
  header .main-container .hero-content-container .right-form-area .form-container {
    padding: 30px;
  }
  main .about-section {
    margin: 50px 0;
  }
  main .about-section .main-container .about-left .trusted-card {
    flex-direction: column;
    gap: 10px;
  }
  main .about-section .main-container .about-left .trusted-card h4 {
    font-size: 20px;
  }
  header .main-container .hero-content-container .left-content-area {
    max-width: 100%;
  }
  .case-study-section .case-study-row .info-box {
    max-width: 90vw;
    padding: 15px;
  }
}
@media (max-width: 450px) {
  .services-section .service-cards .card {
    min-width: 200px;
    padding: 30px;
  }
}/*# sourceMappingURL=style.css.map */