// Colors
$white-color: #fff;
$text-gray: #ffffffbb;
$black-color: #000;
$accent-color: #5f67ff;
$text-dark: #191b1e;
$text-light: #2b4448;
$button-blue-color-hover: #8c92ff;
$stroke-color: #ffffff2d;

// Font Family
$font-family: "Days One", sans-serif;
$font-family-second: "DM Sans", sans-serif;

// Font Sizes
$font-size-h1: clamp(30px, 5vw, 60px);
$font-size-h2: clamp(26px, 4vw, 36px);
$font-size-h3: clamp(22px, 3vw, 28px);
$font-size-h4: clamp(20px, 2.5vw, 26px);
$font-size-h5: clamp(16px, 1.8vw, 18px);
$font-size-paragraph: clamp(16px, 2vw, 20px);
$font-size-button: 20px;

// Font Weight
$font-weight-regular: 400;

// Line Height
$line-height-h1: 1.2;
$line-height-h2: 41px;
$line-height-h3: 32px;
$line-height-h4: 32px;
$line-height-h5: 23px;
$line-height-paragraph: 26px;
$line-height-button: 24px;
